<div class="container">
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>{{ user.id }}</h2>
        <h3>
          {{ user.username }}
        </h3>

        <p class="details">
          <li>email: {{ user.email }}</li>
          <li>name: {{ user.name }}</li>
          <li>city: {{ user.address?.city }}</li>
          <li>street: {{ user.address?.street }}</li>
        </p>

        <div class="action-btns">
          <button mat-fab (click)="deleteUserHandler(user.id)">
            <mat-icon>delete</mat-icon>
          </button>

          <button mat-fab (click)="editUserHandler(user)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
